* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

#terminal {
    width: 100%;
    height: 100%;
}

.terminal {
    width: 100%;
    height: 100%;

}

.xterm-viewport {
  scrollbar-width: thin;
}

.xterm {
  padding: 6px;
}